@import '../../../common/styles/variables';

.header {
  text-align: center;
  border-bottom: 2px solid @gray-border-color;

  .avatar {
    width: @avatar-width;
    height: @avatar-height;
    margin-top: -(@avatar-height / 2);
    border-radius: 50%;
  }

  .hello {
    text-transform: uppercase;
    padding: @base-padding 0;
  }
  .introduce {
    text-transform: uppercase;
    padding-bottom: @base-padding;
  }
}
